*~
.saveplace
.saved-places
.smex-items
.sql-history
.sqli_history
auto-save-list/
backups/
elpa/
ido.last
projectile-bookmarks.eld
recentf
history
repl-history
url
bookmarks
cider-history
eshell/
tramp
places
.DS_Store
init.el
tangle.el
linux-custom.el
org-clock-save.el
